body {
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: none;
	background-position: center center;
}


#sideHdr, #characterHdr {
	text-align: center;
	margin-bottom: 40px;
	color: white;
	font-size: 4em;
}

/* SIDE PROMPT*/
#sidePrompt {
	margin-top: 5%;
	padding: 20px;
}

.sideBtn {
	margin: auto;
	margin-bottom: 40px;
}

#rebelBtn {
	content: url("../images/rebel_logo.png")
}

#empireBtn {
	content: url("../images/empire_logo.png")
}



/* CHARACTER PROMPT */
#characterPrompt {
	margin-top: 5%;
	padding: 20px;
}

.rebel, .empire {
	margin: auto;
	padding: 5px;
    text-align: center;
    width: 160px;
}

.rebel {
	background-color: #592929;
	color: white;
}

.empire {
	background-color: black;
	color: white;
}

.possPlayer > p {
	margin: 5px auto 0px;
}

.playerImg {
	width: 150px;
	height: 150px;
}


/* MAIN GAME AREA */
.gameHeader {
	text-align: center;
	color: white;
	font-size: 3em;
}
